<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/styles.css">
<div class="container">
    <h1>About Gypsy!</h1>
    <%= image_tag 'petz.jpg' %>
    <br/>
    <p>Gypsy is an Oriental Shorthair cat who is very meowy and likes to say meow a lot</p>
    <p>She can be very annoying but we love her very much and she loves to be with us</p>
    <%= link_to 'Home', root_path %>
</div>