<h1>About Gypsy!</h1>
<%= image_tag('https://drive.google.com/uc?id=1UxRHMm_embBUVZ9y6az-LC5WN5op-gx2', width: '500')  %>
<br/>
<p>Gypsy is an Oriental Shorthair cat who is very meowy and likes to say meow a lot</p>
<p>She can be very annoying but we love her very much and she loves to be with us</p>
<%= link_to 'Home', root_path %>
