<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/styles.css">
<div class="container">
    <h1>Welcome to My Site!</h1>
    <%= image_tag('petz.jpg', width: '780') %>
    <br/>
    <p>Multa animalia domestica sunt (sc. in Aegypto), et plura essent, nisi quod hoc felibus evenit. Cum feles peperit, nondum vult cum felibus maribus coire. Hi ergo libidinis causa catulos matribus diripiunt, auferunt, interficiunt (neque autem eos comedunt). Hae autem, desiderio catulorum motae, recentes habere cupidae statim ad mares properant : hoc animal valde pullos amat.</p>
    <p>Aedificio ardente, aliquid mirabile felibus evenit. Aegyptii abstant ab incendio, sed feles custodiunt et spectant. Feles praeter homines ambulant, vel etiam super homines saliunt, et in conflagrationem eunt ubi pereunt. Aegyptii magnopere dolent.</p>
    <p>Si feles moritur apud Aegyptios, omnes familiares supercilia tondent (sed si canis moritur, tondent totum corpus). Feles mortui in urbem Bubastis feruntur, condiuntur, sepeliuntur.</p>
    <%= link_to 'About', about_path %>
</div>